services:
  db: 
    image: postgres:16.3
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookings-testing
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
volumes:
  db-data: